extends layout

block content
  h1= title
  
  body

  ul
  each val in people
    li= val

  form(action='/people', method='POST', target='ignore')
    p
      | name: 
      input(type='text', name='name', value='')
    input(type='submit', value='Submit')

  iframe(name='ignore' src='about:blank', style='display:none;')